annotated-types
anyio
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
dnspython
email-validator
exceptiongroup
fastapi
filelock
fsspec
h11
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
mypy
mypy-extensions
networkx
numpy
outcome
packaging
pandas
pycparser
pydantic
pydantic-core
PySocks
pymongo
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
safetensors
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
starlette
sympy
tokenizers
tomli
torch
tqdm
transformers
trio
trio-websocket
types-beautifulsoup4
types-pytz
typing-extensions
tzdata
urllib3
uvicorn
webdriver-manager
websocket-client
wsproto
sqlalchemy
pymysql
cryptography
